<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crime stoppers UK - Wanted persons</title>
    <link href="/static/css/styles.css" rel="stylesheet">
    <link href="/static/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<body>
<header>
    <a href="{{ url_for('render_all_persons_data') }}">
        <img src="/static/logo.png" alt="logo">
    </a>
</header>
<div>
    <a href="{{ url_for('render_all_persons_data') }}">
        <button class="back-btn" type="button"><i class="fa-regular fa-circle-left"></i> <b>Go back</b></button>
    </a>
</div>
<section class="person-info">
    <p><b><img alt="Photo URL" src="{{ json_data['Photo URL'] }}"></b></p>

    {% for key, value in json_data.items() %}
        {% if key != 'Photo URL' %}
            <p><b>{{ key }}: </b>{{ value }}</p>
        {% endif %}
    {% endfor %}

</section>
</body>
</html>