<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crime stoppers UK - Wanted persons</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css">
    <link href="/static/css/styles.css" rel="stylesheet">
    <link href="/static/favicon.ico" rel="shortcut icon">

</head>
<body>
<header>
    <a href="{{ url_for('render_all_persons_data') }}">
        <img src="/static/logo.png" alt="logo">
    </a>
</header>

{% if not scraper_in_progress %}
    <div id="buttons">
        <button class="scr-btn" id="run-scraper-button" type="button"><b>Update entries</b>
        </button>
        <button class="del-btn {% if not json_data %}hidden{% endif %}"
                id="erase-all-entries"
                type="button"><b>Erase all entries</b>
        </button>
    </div>
{% endif %}

<div class="messages">
    <p id="loading-message" class="hidden">Collecting data, please wait.</p>
    <div id="progress-bar" class="hidden">
        <div class="progress-bar-filled" id="progress-bar-fill"></div>
    </div>

    {% if total_entries %}
        <p id="count">Total entries found:
            <b>{{ total_entries }}</b>
        </p>
        <p id="datetime"><b>{{ last_update_message }}</b>
        </p>
    {% endif %}
</div>

{% if json_data %}
<div class="container">
    <table id="data-table" class="table {% if not json_data %}hidden{% endif %}">
        <thead>
        <tr class="headings-style">
            <th>Suspect photo</th>
            <th>Suspect name</th>
            <th>Sex</th>
            <th>Age</th>
            <th>Crime type</th>
            <th>More info</th>
        </tr>
        </thead>
        <tbody>

        {% for person in json_data %}
            {% for key, value in person.items() %}
                <tr>
                    <td><img alt="Photo URL" src="{{ value['Photo URL'] }}" style="width: 80px; height: 80px;"></td>
                    <td>{{ key }}</td>
                    <td>{{ value['Sex'] }}</td>
                    <td>{{ value['Age'] }}</td>
                    <td>{{ value['Crime type'] }}</td>
                    <td><a href="/{{ key }}/">
                        <button class="more-info" type="button"><b>Click here</b></button>
                    </a></td>
                </tr>
            {% endfor %}
        {% endfor %}

        </tbody>
    </table>
</div>
{% endif %}

{#<ul class="pagination">#}
{##}
{#    {% if page > 1 %}#}
{#        <li class="page-item">#}
{#            <a class="page-link" href="?page=1">First</a>#}
{#        </li>#}
{#        <li class="page-item">#}
{#            <a class="page-link" href="?page={{ page - 1 }}">Previous</a>#}
{#        </li>#}
{#    {% endif %}#}
{##}
{#    {% if pages <= 10 %}#}
{#        {% for i in range(1, pages + 1) %}#}
{#            <li class="page-item {% if i == page %} active {% endif %}">#}
{#                <a class="page-link" href="?page={{ i }}">{{ i }}</a>#}
{#            </li>#}
{#        {% endfor %}#}
{#    {% else %}#}
{#        {% if page <= 5 %}#}
{#            {% for i in range(1, 11) %}#}
{#                <li class="page-item {% if i == page %} active {% endif %}">#}
{#                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>#}
{#                </li>#}
{#            {% endfor %}#}
{#        {% elif page >= pages - 4 %}#}
{#            {% for i in range(pages - 9, pages + 1) %}#}
{#                <li class="page-item {% if i == page %} active {% endif %}">#}
{#                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>#}
{#                </li>#}
{#            {% endfor %}#}
{#        {% else %}#}
{#            {% for i in range(page - 5, page + 5) %}#}
{#                <li class="page-item {% if i == page %} active {% endif %}">#}
{#                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>#}
{#                </li>#}
{#            {% endfor %}#}
{#        {% endif %}#}
{#    {% endif %}#}
{##}
{#    {% if page < pages %}#}
{#        <li class="page-item">#}
{#            <a class="page-link" href="?page={{ page + 1 }}">Next</a>#}
{#        </li>#}
{#        <li class="page-item">#}
{#            <a class="page-link" href="?page={{ pages }}">Last</a>#}
{#        </li>#}
{#    {% endif %}#}
{##}
{#</ul>#}


<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>